<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@127.0.0.1:1521:OPSOSYS</property>
        <property name="hibernate.connection.username">OPSOSYSTEM</property>
        <property name="hibernate.connection.password">opsos</property>
        <property name="connection.pool_size">1</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.default_schema">OPSOSYSTEM</property>
        <property name="show_sql">true</property>
        <mapping class="com.tsystems.jschool20.srvengine.entites.Tariff"/>
    </session-factory>
</hibernate-configuration>